In [ ]:
# inmstall pandas | instalar pandas

In [8]:
import pandas as pd
import os

In [9]:
# https://stackoverflow.com/questions/2104080/how-do-i-check-file-size-in-python
def convert_bytes(num):
    """
    this function will convert bytes to MB.... GB... etc
    """
    for x in ['bytes', 'KB', 'MB', 'GB', 'TB']:
        if num < 1024.0:
            return "%3.1f %s" % (num, x)
        num /= 1024.0

In [10]:
# https://github.com/datasciencedojo/datasets/blob/master/titanic.csv
# url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'  # Use o link 'Raw'
csv_em_bytes = os.path.getsize('titanic.csv')
convert_bytes(csv_em_bytes)

'58.9 KB'

In [17]:
%%time

df = pd.read_csv('titanic.csv')
df.shape

df.head()

CPU times: user 3.04 ms, sys: 2.73 ms, total: 5.77 ms
Wall time: 4.82 ms

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df.to_parquet('PFW_2021_public.parquet')

In [ ]:
parquet_em_bytes = os.path.getsize('PFW_2021_public.parquet')
convert_bytes(parquet_em_bytes)

In [ ]:
%%time

df_pfw_2021_parquet = pd.read_parquet('PFW_2021_public.parquet')
df_pfw_2021_parquet.shape

In [31]:
del df_pfw_2021_parquet

In [ ]:

df_pfw_2021.to_parquet('PFW_2021_public.parquet.gzip', compression='gzip')

parquet_gzip_em_bytes = os.path.getsize('PFW_2021_public.parquet.gzip')
convert_bytes(parquet_gzip_em_bytes)

In [ ]:
# https://github.com/google/brotli
df_pfw_2021.to_parquet('PFW_2021_public.parquet.brotli', compression='BROTLI')

brotli_em_bytes = os.path.getsize('PFW_2021_public.parquet.brotli')
convert_bytes(brotli_em_bytes)

In [ ]:
url_titanic = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df_titanic = pd.read_csv(url_titanic)
df_titanic.head()

In [ ]:
power_em_bytes = os.path.getsize('power.csv')
convert_bytes(power_em_bytes)

In [ ]:
df_power = pd.read_csv('power.csv', parse_dates=['Date'])
df_power.head()

In [ ]:
df_power.info()

In [ ]:
df_power['Date'].dt.strftime('%d/%m/%Y')

In [65]:
df_power.to_parquet('power.parquet', compression='BROTLI')

In [ ]:
df_power_parquet = pd.read_parquet('power.parquet')
df_power_parquet['Date'].dt.strftime('%d/%m/%Y')

In [ ]:
df_power_parquet.head()

In [ ]:
df_power = pd.read_csv('power.csv', parse_dates=['Date'])
df_power.info()